.genoapay-product-payment-details {
    text-align: left;
    margin: 10px 0;
}

.genoapay-product-payment-details .genoapay-logo img {
    margin-right: 5px;
    height: 14px;
    display: inline;
}

.genoapay-message img {
    width: 100px;
    display: inline-block;
    position: relative;
    top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
.genoapay-message a {
    color: #2c2d33;
    text-decoration: underline;
    font-size: 13px;
    white-space: nowrap;
}

.genoapay-logo a {
    font-size: 12px;
    text-decoration: underline;
}

.genoapay-logo a:hover {
	color: #fff;
}